@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
:root{
    --accent-color: #A020F0;
    --base-color: #32CD32;
    --text-color: #FFFFFF;
    --input-color: #000000;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Cabin, sans-serif, Georgia;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body{
    min-height: 100vh;
    background-image: url(istockphoto-181481366-612x612.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper{
    box-sizing: border-box;
    background-color: var(--base-color);
    width: 50vh;
    height:100vh;
    padding:10 px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}

h1{
    font-size: 30pt;
    font-weight: 500;
    text-transform:uppercase;
}

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

form label{
    height: 150px;
    width: 150px;
    border-radius: 10px 0 0 10px;
    justify-content: center;
    align-items: center;
}  

form label:hover{
    color: var(--accent-color);
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border: 3px solid var(--base-color);
    border-radius: 0 10px 10px 0;
    background-color: var()
}

form input:hover{
    border-color:var(--accent-color);
}

form input:focus{
    outline: none;
    border-color: var(--text-color);
}

form input:placeholder{
color: var(--text-color);
opacity: 5;
}

form button{
    margin-top:10px;
    border: none;
    border-radius: 100px;
    justify-content: space-bet ween;
    padding: 0.85em 4em;
    background-color: var(--base-color);
    color: var(--text-color);
    font: Cabin;
    font-size: 10pt;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 500px;
}

form button:hover{
    outline: none;
    color: var(--accent-color);
}

a{
    text-decoration: none;
    color: var(--text-color)
}

a:hover{
    color: var(--base-color);
}

 











